/* line 4 */
#page {
  width: 750px;
}
/* line 7 */
#page #torso #sidebar {
  position: static;
  width: auto;
  margin-bottom: 21px;
  padding-bottom: 21px;
  border-bottom: 3px solid #222222;
}
/* line 13 */
#page #torso #sidebar #connect #buttons .button {
  display: inline;
}
/* line 17 */
#page #torso #sidebar #hosts .host {
  margin-bottom: 0;
  margin-right: 10px;
  border-width: 2px;
  padding: 2px;
}
/* line 22 */
#page #torso #sidebar #hosts .host img {
  width: 100px;
}
/* line 24 */
#page #torso #sidebar #hosts .host .name {
  font-size: 14px;
  line-height: 12px;
}
/* line 27 */
#page #torso #main {
  margin: 0;
}
