#about.section
  %h2 Ueber uns
  %p
    Wir (Henning, Thomas und Arne) sind 3 Nerds und sprechen in Podcasts ueber Themen, die Nerds wie euch interessieren.
  %p.links
    %a.email{ :href => 'mailto:tankwart@nerdtanke.de' } E-Mail
    %a.rss{ :href => 'http://feeds.feedburner.com/DieNerdtanke' } RSS
    %a.itunes{ :href => 'http://itunes.apple.com/de/podcast/die-nerdtanke/id434211329', :target => '_blank' } iTunes
    %a.facebook{ :href => 'https://www.facebook.com/pages/Die-Nerdtanke/150205078377851', :target => '_blank' } Facebook
    %a.google_plus{ :href => 'https://plus.google.com/107195162516862227780', :target => '_blank' } <span class="blue">G</span><span class="red">o</span><span class="yellow">o</span><span class="blue">g</span><span class="green">l</span><span class="red">e</span><span class="plus">+</span>
    %a.twitter{ :href => 'http://twitter.com/nerdtanke', :target => '_blank' } Twitter

#downloads
  = partial 'podcasts'
