:ruby

  podcast do
    episode 6
    label 'Hack and Slay'
    date '09.08.2011'
    filename 'nerdtanke-6'
    filesize '21 MB'
    duration '34:47'
    topic '0:00', 'Hello World'
    topic '1:51', 'Hoererbriefe'
    topic '3:08', 'Regenwolke erschiesst Amazon-Cloud', 'http://www.zdnet.co.uk/news/cloud/2011/08/08/lightning-strikes-amazons-european-cloud-40093641/'
    topic '4:31', 'Die "Solarized" Farbpalette', 'http://ethanschoonover.com/solarized'
    topic '6:24', 'Neuer Texteditor: Sublime Text 2', 'http://www.sublimetext.com/blog/articles/sublime-text-2-beta'
    topic '10:41', 'Pen & Paper Rollenspiele'
    topic '13:57', 'Live-Rollenspiele (LARPs)' do
      link 'Trailer für Massen-Con (Conquest of Mythodea)', 'http://www.live-adventure.de/ConQuest/trailer.php'
      link 'LARP Kalender', 'http://www.larpkalender.de/'
    end
    topic '18:29', 'Diablo 3: Echtgeld-Auktionshaus und Skillungen gestrichen'
    topic '23:07', 'Leider nicht im Kino: Deus Ex 3', 'http://www.youtube.com/watch?v=aRtdAOYKvmI'
    topic '24:52', 'World of Starcraft: Starcraft Universe', 'http://www.eurogamer.net/videos/starcraft-universe-alpha-gameplay'
    topic '26:07', 'Real-time messaging mit PubNub', 'http://www.pubnub.com/'
    topic '29:39', 'WTF der Woche: Our security auditor is an idiot', 'http://serverfault.com/questions/293217/our-security-auditor-is-an-idiot-how-do-i-give-him-the-information-he-wants'
    topic '31:45', ' Post-It War', 'http://www.obviouswinner.com/obvwin/2011/8/4/post-it-war-lands-in-france-as-a-giant-8bit-video-game-build.html'
    topic '32:38', 'shutdown -h'
  end

  podcast do
    episode 5
    label 'Pi Milliarden Dollar'
    date '22.07.2011'
    filename 'nerdtanke-5'
    filesize '23 MB'
    duration '39:35'
    topic '0:00', 'Hello World'
    topic '1:30', 'Hoererbriefe'
    topic '4:36', 'Fotografie mit Lytro' do
      link 'Artikel bei AllThingsD', 'http://allthingsd.com/20110621/meet-the-stealthy-start-up-that-aims-to-sharpen-focus-of-entire-camera-industry/'
      link 'Interaktive Lytro-Galerie', 'http://www.lytro.com/pictures/lyt-15'
    end
    topic '6:53', 'Internet-Zensur in Australien'
    topic '8:00', 'Technologieblase 3.0'
    topic '11:36', 'Googles neue Kleider'
    topic '12:55', 'Google Plus', 'https://plus.google.com/'
    topic '14:48', 'Pi Milliarden Dollar', 'http://science.slashdot.org/story/11/07/02/1335202/Google-Bid-Pi-Billion-Dollars-For-Nortel-Patents'
    topic '16:48', 'Schnelleres Internet' do
      link 'Prerendering in Chrome', 'http://code.google.com/chrome/whitepapers/prerender.html'
      link 'HD-WUCHT.EXE', 'http://www.carstenbank.de/tools.html'
      link 'SPDY', 'http://www.chromium.org/spdy/spdy-whitepaper'
    end
    topic '21:30', 'Terminal Multiplexer' do
      link 'tmux Tutorial', 'http://blog.hawkhost.com/2010/06/28/tmux-the-terminal-multiplexer/'
      link 'tmux vs. GNU Screen', 'http://www.techrepublic.com/blog/opensource/is-tmux-the-gnu-screen-killer/1901'
    end
    topic '23:30', 'Team Fortress 2 ist Free-to-Play', 'http://www.teamfortress.com/'
    topic '27:11', 'Neuer Rage-Trailer', 'http://www.joystiq.com/2011/07/10/rage-the-dawn-trailer-breaks-over-the-horizon/'
    topic '30:00', 'EA Origin', 'http://www.joystiq.com/2011/06/03/ea-takes-on-steam-with-origin-the-only-place-to-download-the-ol/'
    topic '32:57', 'Miniaturwunderland Hamburg', 'http://www.miniatur-wunderland.de/'
    topic '34:36', 'Breaking Bad', 'http://www.amctv.com/shows/breaking-bad'
    topic '36:38', 'Gradius Slot Machine', 'http://www.youtube.com/watch?v=WI2MgdfAYe4'
  end

  podcast do
    episode 4
    label 'Ausgenerdet'
    date '23.06.2011'
    filename 'nerdtanke-4'
    filesize '21 MB'
    duration '34:09'
    topic '0:00', 'Hello World'
    topic '0:59', 'Leserbriefe'
    topic '4:58', 'PC-Games-Torte', 'http://www.pcgames.de/PC-Games-Podcast-Thema-233689/'
    topic '6:54', 'f.lux', 'http://stereopsis.com/flux/'
    topic '8:58', 'Windows 8', 'http://www.youtube.com/watch?v=p92QfWOw88I'
    topic '12:48', 'Wii U', 'http://www.youtube.com/watch?v=4e3qaPg_keg'
    topic '16:06', 'Battlefield 3' do
      link 'Operation Metro', 'http://www.battlefield.com/de/battlefield3/videos/bf3-operation-metro-multiplayer-gameplay-trailer'
      link 'Bad Part Of Town', 'http://www.battlefield.com/uk/battlefield3/videos/battlefield-3-fault-line-series-episode-1-bad-part-of-town-'
    end
    topic '17:22', 'Star Wars: The Old Republic', 'http://www.youtube.com/watch?v=QyYbvVAtlWk'
    topic '18:52', 'Jamestown', 'http://www.finalformgames.com/jamestown/'
    topic '21:47', 'Java 7', 'http://openjdk.java.net/projects/jdk7/features/'
    topic '26:05', 'Buchtipp: Feed (Mira Grant)'
    topic '29:25', 'Trailer: The Girl With The Dragon Tattoo', 'http://www.youtube.com/watch?v=xeS8MNPocBw'
    topic '30:38', 'Betthupferl' do
      link 'Portal 2 Cosplay', 'http://www.youtube.com/watch?v=dC-kHODhTBk'
      link 'Instrument Of Mass Destruction', 'http://vimeo.com/19374769'
      link 'Robin & Zelda Williams', 'http://www.youtube.com/watch?v=f6oYMtqZk4Y'
    end
  end

  podcast do
    episode 3
    label 'Harrison F*ing Ford'
    date '02.06.2011'
    filename 'nerdtanke-3'
    filesize '29 MB'
    duration '47:56'
    topic '0:00', 'Hello World'
    topic '2:40', 'Leserbriefe'
    topic '6:08', 'Gastnerds gesucht'
    topic '7:04', 'kino.to gesperrt', 'http://orf.at/stories/2058766/'
    topic '10:09', 'Brink', 'http://www.brinkthegame.com/'
    topic '16:24', 'Configuration Management'
    topic '27:45', 'Getting Things Done', 'http://en.wikipedia.org/wiki/Getting_Things_Done'
    topic '37:07', 'Trailer-Schnelldurchlauf' do
      link 'Die Abenteuer von Tim und Struppi in 3D', 'http://www.youtube.com/watch?v=tqkveLUKwUU'
      link 'Green Lantern Official Trailer #2', 'http://www.youtube.com/watch?v=wAueFkHby7A'
      link 'Green Lantern Fan Trailer', 'http://www.youtube.com/watch?v=_hTiRnqnvDs'
      link 'Cowboys vs. Aliens', 'http://www.youtube.com/watch?v=N13WZaX-OPo'
    end
    topic '43:57', 'Ende des Space-Shuttle-Programms', 'http://www.youtube.com/watch?v=oSWsT95UVuI'
  end

  podcast do
    episode 2
    label 'Die Zukunft'
    date '06.05.2011'
    filename 'nerdtanke-2'
    filesize '21 MB'
    duration '35:16'
    topic '0:00', 'Hello World'
    topic '2:05', 'PSN aufgemacht', 'http://de.playstation.com/psn/'
    topic '7:45', 'Backup unter Linux: Back In Time', 'http://backintime.le-web.org/'
    topic '10:02', 'StarCraft-Casting-Szene' do
      link 'NukeTheStars', 'http://www.youtube.com/user/NukeTheStars', 'SC: Brood War'
      link 'Psy', 'http://www.youtube.com/user/PsyStarcraft', 'StarCraft II'
      link 'Cricket', 'http://www.youtube.com/user/CricketStarcraft', 'StarCraft II'
    end
    topic '16:51', 'Black Prophecy', 'http://www.blackprophecy.com/'
    topic '20:52', 'HTML5', 'http://www.html5rocks.com/'
    topic '26:46', 'Harry Potter 7.2 Trailer', 'http://www.youtube.com/watch?v=CndMW6FLEiI'
    topic '30:10', 'Filmwarnung: Catwoman', 'http://www.imdb.com/title/tt0327554/'
    topic '31:36', 'The Chapel', 'http://vimeo.com/16414140' 
  end

  podcast do
    episode 1
    label 'Die Cloud ist voll'
    date '24.04.2011'
    filename 'nerdtanke-1'
    filesize '20 MB'
    duration '33:47'
    topic '0:00', 'Hello World'
    topic '2:47', 'Ubuntu 11.04', 'http://www.ubuntu.com/'
    topic '9:13', 'Portal 2', 'http://www.thinkwithportals.com/'
    topic '13:52', 'Naumachia Space Warfare', 'http://naumachia.aureasection.com/'
    topic '14:49', 'Amazon EC2 Outage'
    topic '21:19', "Jill Bolte Taylor's Powerful Stroke of Insight", 'http://www.ted.com/talks/jill_bolte_taylor_s_powerful_stroke_of_insight.html'
    topic '23:15', 'Nerd Nite', 'http://nerdnite.com/'
    topic '26:30', 'Battle: Los Angeles', 'http://www.youtube.com/watch?v=mEwlqSpj4BA' 
    topic '28:59', 'Another Earth', 'http://www.youtube.com/watch?v=N8hEwMMDtFY' 
    topic '31:10', 'The Mountain', 'http://vimeo.com/22439234' 
  end

