- @no_footer = true

#imprint
  %h2 Impressum
  %p
    Arne Hartherz
    %br
    Bäckergasse 34
    %br
    86150 Augsburg
#credits
  %h2 Credits
  %ul
    %li
      %a{ :href => 'http://kottke.org/plus/type/silkscreen/', :target => '_blank' }
        Silkscreen font
      by Jason Kottke
    %li
      "Flight of the Toyota" used with kind permission by
      %a{ :href => 'http://machinaesupremacy.com/', :target => '_blank' }
        Machinae Supremacy
  %p
    Thanks :)
%p
  %a{ :href => '/', :target => '_self' }
    Zurueck
