#imprint
  %h1 Impressum
  %p
    Henning Koch
    %br
    Reeseallee 33 1/9
    %br
    86156 Augsburg

#credits
  %h2 Credits
  %ul
    %li
      %a{ :href => 'http://kottke.org/plus/type/silkscreen/', :target => '_blank' }
        Silkscreen font
      by Jason Kottke
    %li
      "Flight of the Toyota" used with kind permission by
      %a{ :href => 'http://machinaesupremacy.com/', :target => '_blank' }
        Machinae Supremacy
  %p
    Thanks :)
